flows.json
[{"id":"41f61d2.fbe09e4","type":"tab","label":"Flow 1"},{"id":"52a903f3.ad56fc","type":"ui_tab","z":"41f61d2.fbe09e4","name":"Home","icon":"dashboard"},{"id":"30e652f.d9de3ae","type":"ui_group","z":"41f61d2.fbe09e4","name":"Information","tab":"52a903f3.ad56fc","disp":true,"width":"6"},{"id":"a8ecb9.c60f4348","type":"ui_group","z":"41f61d2.fbe09e4","name":"Introduction","tab":"52a903f3.ad56fc","disp":false,"width":"3"},{"id":"bbdf3e02.e8fee","type":"ui_group","z":"41f61d2.fbe09e4","name":"Local Temps","tab":"52a903f3.ad56fc","disp":true,"width":"6"},{"id":"d9ba26fa.6d2b18","type":"ui_base","name":"DCJ Dashboard","theme":"theme-light"},{"id":"9944bbbe.242c68","type":"ui_link","z":"41f61d2.fbe09e4","name":"Worldmap","link":"http://localhost:8000/worldmap","icon":"language","target":"iframe","order":"3"},{"id":"852d9c04.7ad26","type":"ui_link","z":"41f61d2.fbe09e4","name":"Editor","link":"http://localhost:8000/admin","icon":"mode_edit","target":"newtab","order":"4"},{"id":"189cf871.681118","type":"ui_template","z":"41f61d2.fbe09e4","group":"a8ecb9.c60f4348","name":"Welcome","order":1,"width":"3","height":"9","format":"<h3>Welcome to the <font color=\"#CE2020\">Node-RED</font> Dashboard</h3>\n<p>On the right you will see a graph logging data from any nearby nodes.</p>","storeOutMessages":false,"fwdInMessages":false,"x":80,"y":40,"wires":[[]]},{"id":"9f19ee5c.beaef","type":"ui_chart","z":"41f61d2.fbe09e4","name":"","group":"bbdf3e02.e8fee","order":1,"width":"0","height":"0","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"basis","nodata":"No Data","ymin":"0","ymax":"100","removeOlder":1,"removeOlderUnit":"60","x":270,"y":200,"wires":[[],[]]},{"id":"799d9318.fd385c","type":"ui_gauge","z":"41f61d2.fbe09e4","name":"","group":"30e652f.d9de3ae","order":2,"width":"","height":"","gtype":"gage","title":"Title","label":"gauge","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":270,"y":140,"wires":[]},{"id":"25d2e289.15aefe","type":"ui_switch","z":"41f61d2.fbe09e4","name":"","label":"switch","group":"bbdf3e02.e8fee","order":3,"width":0,"height":0,"topic":"","style":"","onvalue":"true","onicon":"","oncolor":"","offvalue":"false","officon":"","offcolor":"","x":270,"y":260,"wires":[[]]},{"id":"6f18b200.666a4","type":"ui_button","z":"41f61d2.fbe09e4","name":"","group":"bbdf3e02.e8fee","order":2,"width":0,"height":0,"label":"button","color":"","icon":"fa-male","payload":"Hello to Jason Isaacs","payloadType":"str","topic":"","x":70,"y":340,"wires":[["f897d7c2.467a58"]]},{"id":"f83fa3c.743f26","type":"inject","z":"41f61d2.fbe09e4","name":"","topic":"","payload":"Hello to Jason Isaacs","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["f897d7c2.467a58"]]},{"id":"f897d7c2.467a58","type":"ui_audio","z":"41f61d2.fbe09e4","name":"","voice":"","x":380,"y":340,"wires":[]},{"id":"9cbc9d4.718126","type":"worldmap","z":"41f61d2.fbe09e4","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","name":"","x":270,"y":40,"wires":[]},{"id":"da0f7e67.0d38a","type":"ui_slider","z":"41f61d2.fbe09e4","name":"","label":"slider","group":"30e652f.d9de3ae","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":90,"y":140,"wires":[["799d9318.fd385c","9f19ee5c.beaef"]]}]